/* brand logo section - start
==================================================================================================== */
.brand-logo-section {
	// bicycle-brandlogo - start
	// ==================================================
	.bicycle-brandlogo {
		ul {
			width: 100%;
			display: table;
			li {
				width: 20%;
				float: left;
				height: 100px;
				display: inline-block;
				a {line-height: 100px;}
			}
		}
	}
	// bicycle-brandlogo - end
	// ==================================================


	
	// digital-brandlogo - start
	// ==================================================
	.digital-brandlogo {
		padding: 30px 0px;
		background-color: $gray-color;
		.brand-logo-carousel {
			.item {
				a {
					width: 100%;
					height: 80px;
					display: block;
					line-height: 80px;
					text-align: center;
				}
			}
		}

		// owl settings - start
		.owl-theme {
			.owl-nav {
				.owl-prev,
				.owl-next {
					top: 22px;
					position: absolute;
					&:before {background: $gray-deep-color;}
					&:hover {
						&:before {background: $royal-blue;}
					}
				}
				.owl-prev {
					left: -40px;
				}
				.owl-next {
					right: -40px;
				}
			}
		}
		// owl settings - end
	}
	// digital-brandlogo - end
	// ==================================================
}



// digital-brandlogo (home-fashion-1) - start
.home-fashion-1 {
	.brand-logo-section {
		.digital-brandlogo {
			background-color: $white-color;
			.brand-logo-carousel {
				.item {
					height: 150px;
					padding: 0px 0px;
					border-radius: 3px;
					background-color: $gray-deep-color;
					a {
						width: 100%;
						height: 100%;
						padding: 15px;
						display: block;
					}
				}
			}
			// owl settings - start
			.owl-theme {
				.owl-nav {
					.owl-prev,
					.owl-next {
						top: 55px;
						&:hover {
							&:before {background: $gplus-red;}
						}
					}
				}
			}
			// owl settings - end
		}
	}
}
// digital-brandlogo (home-fashion-1) - end

/* brand logo section - end
==================================================================================================== */