/* 404 error page - start
==================================================================================================== */
.error-section {
	.error-content {
		.icon {
			font-size: 250px;
			margin-bottom: 30px;
			color: $gray-deep-color;
		}
		h2 {
			font-size: 36px;
			text-transform: uppercase;
		}
	}
}
/* 404 error page - end
==================================================================================================== */