/* home tools 1 - start
==================================================================================================== */

// some changes here - start
// ==================================================
.home-tools-1 {

	::selection {
		color: $white-color;
		background: $yellow-color;
	}

	.custom-btn,
	.image-container {border-radius: 0px;}
	.promotion-item {
		border-radius: 0px;
		.promotion-img {border-radius: 0px;}
	}

	// form settinge - start
	.form-item {
		input {
			&:focus {
				border-color: $yellow-color;
				+.form-item-btn {
					background-color: $yellow-color;
				}
			}
		}
	}
	.form-textarea {
		margin-bottom: 30px;
		textarea {
			&:focus {
				border-color: $yellow-color;
			}
		}
	}
	// form settinge - end

	// quick-view - start
	.quick-view {
		background-color: rgba(254, 215, 0, .5);
		&:hover {
			background-color: rgba(254, 215, 0, 1);
		}
	}
	// quick-view - end

	// post-meta - start
	.post-meta {
		ul {
			li {
				a {
					&:hover {
						color: $yellow-color;
					}
				}
			}
		}
	}
	// post-meta - end

	// owl settings - start
	.owl-theme {
		.owl-nav {
			.owl-next,
			.owl-prev {
				border-radius: 0px;
				&:hover {
					&:before {
						background-color: $yellow-color;
					}
				}
			}
		}
		.owl-dots {
			.owl-dot.active {
				span {
					background: $yellow-color;
				}
			}
		}
	}
	// owl settings - end

	// plus-effect - start
	.plus-effect {
		&:before,
		&:after {
			background-color: $yellow-color;
		}
	}
	// plus-effect - end

	// product-item - start
	.product-item {
		.item-content {
			.item-title {
				&:hover {color: $yellow-color;}
			}
		}
		.hover-content {
			.add-to-cart {
				&:hover {
					border-color: $yellow-color;
					background-color: $yellow-color;
				}
			}
			.product-meta {
				ul {
					li {
						a {
							&:hover {color: $yellow-color;}
						}
					}
				}
			}
		}
	}
	// product-item - end

	// item-title - start
	.item-title {
		&:hover {
			color: $yellow-color;
		}
	}
	// item-title - start

}
// some changes here - end
// ==================================================



// slider-section - start
// ==================================================
.home-tools-1 {
	.slider-section {
		.slider-item {
			padding: 150px 0px;
			h1 {
				font-size: 60px;
				font-weight: 800;
				text-transform: uppercase;
			}
			p {
				font-size: 16px;
				font-weight: 500;
				text-transform: capitalize;
			}
		}
	}
}
// slider-section - end
// ==================================================



// category-section - start
// ==================================================
.category-section {

	.tools-category-carousel {
		padding: 30px 0px;
		.item {
			overflow: hidden;
			position: relative;
			.item-content {
				top: 0;
				right: 0;
				bottom: 0;
				width: 55%;
				padding: 30px;
				position: absolute;
				h2 {
					font-size: 36px;
					font-weight: 800;
					text-transform: uppercase;
				}
				h3 {
					font-size: 18px;
					font-weight: 600;
					text-transform: uppercase;
				}
				h4 {
					font-size: 14px;
					font-weight: 500;
					text-transform: uppercase;
				}
				.price-link-btn {
					ul {
						padding: 8px 10px;
						background-color: #333e48;
						transition: $default-transition;
						li {
							margin-right: 10px;
							padding-right: 10px;
							position: relative;
							&:before {
								top: 0;
								bottom: 0;
								width: 2px;
								right: -1px;
								content: '';
								position: absolute;
								background-color: $overlay-white;
							}
							&:last-child {
								margin-right: 0px;
								padding-right: 0px;
								&:before {display: none;}
							}
							.price-text {
								font-size: 18px;
								font-weight: 600;
								color: $white-color;
							}
							a {
								font-size: 14px;
								font-weight: 600;
								line-height: 10px;
								color: $white-color;
							}
						}
						&:hover {background-color: $yellow-color;}
					}
				}
			}
		}
	}
}

.home-tools-1 {
	.category-section {
		.owl-theme {
			.owl-nav {
				.owl-prev,
				.owl-next {
					top: 50%;
					position: absolute;
					transform: translateY(-50%);
				}
				.owl-prev {left: 10px;}
				.owl-next {right: 10px;}
			}
		}
	}
}
// category-section - end
// ==================================================



// featured-section - start
// ==================================================
.home-tools-1 {
	.featured-section {
		.featured-container {
			.digital-featured-nav {
				li {
					&:hover {
						a {color: $yellow-color;}
					}
					a.active {
						color: $yellow-color;
					}
				}
			}
		}
	}
}
// featured-section - end
// ==================================================



// promotion-section - start
// ==================================================
.promotion-section {
	.promotion-video {
		iframe {
			width: 100%;
			border: none;
			outline: none;
			height: 497px;
		}
	}
}
// promotion-section - end
// ==================================================



// power-tools-section - start
// ==================================================
.power-tools-section {

	// featured-item - start
	.featured-item {
		.item-content {
			.btns-list {
				ul {
					li {
						margin-right: 15px;
						&:last-child {margin-right: 0px;}
						.details-btn {
							padding: 10px 30px;
							border: 2px solid $gray-deep-color;
							&:hover {
								color: $white-color;
								border-color: $yellow-color;
								background-color: $yellow-color;
							}
						}
						.buy-btn {
							padding: 10px 30px;
							border: 2px solid $yellow-color;
							background-color: $yellow-color;
							&:hover {color: $white-color;}
						}
					}
				}
			}
		}
	}
	// featured-item - end

	// power-tools-carousel - start
	.power-tools-carousel {
		.item {
			.tools-item {
				text-align: center;
				margin-bottom: 30px;
				&:hover {
					.image-container {
						.absolute-cartview {
							opacity: 1;
							transform: translate(-50%,-50%);
						}
					}
				}
			}
		}
	}
	// power-tools-carousel - end

	.owl-theme {
		.owl-nav {
			top: -77px;
			right: 0px;
			position: absolute;
		}
	}

}
// power-tools-section - end
// ==================================================



// popular-section - start
// ==================================================
.home-tools-1 {
	.popular-section {

		.owl-theme {
			.owl-nav {
				top: -77px;
				right: 0px;
				position: absolute;
			}
		}

	}
}
// popular-section - end
// ==================================================

/* home tools 1 - end
==================================================================================================== */





/* home tools 2 - start
==================================================================================================== */

// some changes here - start
// ==================================================
.home-tools-2 {

	::selection {
		color: $white-color;
		background: $navy-blue;
	}

	.custom-btn,
	.image-container {border-radius: 0px;}
	.promotion-item {
		border-radius: 0px;
		.promotion-img {border-radius: 0px;}
	}

	// form settinge - start
	.form-item {
		input {
			&:focus {
				border-color: $navy-blue;
				+.form-item-btn {
					background-color: $navy-blue;
				}
			}
		}
	}
	.form-textarea {
		margin-bottom: 30px;
		textarea {
			&:focus {
				border-color: $navy-blue;
			}
		}
	}
	// form settinge - end

	// quick-view - start
	.quick-view {
		background-color: rgba(8, 90, 157, .5);
		&:hover {
			background-color: rgba(8, 90, 157, 1);
		}
	}
	// quick-view - end

	// post-meta - start
	.post-meta {
		ul {
			li {
				a {
					&:hover {
						color: $navy-blue;
					}
				}
			}
		}
	}
	// post-meta - end

	// owl settings - start
	.owl-theme {
		.owl-nav {
			.owl-next,
			.owl-prev {
				border-radius: 0px;
				&:hover {
					&:before {
						background-color: $navy-blue;
					}
				}
			}
		}
		.owl-dots {
			.owl-dot.active {
				span {
					background: $navy-blue;
				}
			}
		}
	}
	// owl settings - end

	// plus-effect - start
	.plus-effect {
		&:before,
		&:after {
			background-color: $navy-blue;
		}
	}
	// plus-effect - end

	// product-item - start
	.product-item {
		.item-content {
			.item-title {
				&:hover {color: $navy-blue;}
			}
		}
		.hover-content {
			.add-to-cart {
				&:hover {
					border-color: $navy-blue;
					background-color: $navy-blue;
				}
			}
			.product-meta {
				ul {
					li {
						a {
							&:hover {color: $navy-blue;}
						}
					}
				}
			}
		}
	}
	// product-item - end

	// item-title - start
	.item-title {
		&:hover {
			color: $navy-blue;
		}
	}
	// item-title - start

}
// some changes here - end
// ==================================================



// slider-section - start
// ==================================================
.home-tools-2 {
	.slider-section {
		margin: 30px 0px;
		.slider-item {
			padding: 120px 60px;
			.slider-content {
				h1 {
					font-size: 42px;
					font-weight: 800;
					text-transform: uppercase;
				}
				p {
					font-size: 16px;
					font-weight: 500;
				}
			}
		}
	}

	.departments-dropdown-menu {
		margin: 0px;
		padding: 15px;
		box-shadow: 0 3px 6px 1px rgba(0,0,0,0.1);
		>li {
			width: 100%;
			margin: 0px;
			padding: 0px;
			display: table;
			list-style: none;
			border-bottom: 1px solid $gray-deep-color;
			.icon {
				width: 30px;
				height: auto;
				margin-right: 5px;
			}
			>a {
				width: 100%;
				height: 50px;
				display: block;
				font-size: 14px;
				line-height: 50px;
				&:hover {color: $navy-blue;}
			}
			&:last-child {
				border-bottom: none;
			}
		}
		>.menu-item-has-children {
			>a {
				position: relative;
				padding-right: 15px;
				&:after {
					top: 0;
					right: 0;
					content: '\f054';
					font-weight: 900;
					position: absolute;
					font-family: 'Font Awesome 5 Free';
				}
			}
		}

		>.menu-item-has-children.has-mega-menu {
			position: relative;
			>.mega-menu {
				top: 0px;
				left: 255px;
				opacity: 0;
				width: 950px;
				z-index: 999;
				height: auto;
				padding: 15px;
				visibility: hidden;
				position: absolute;
				background-size: cover;
				background-repeat: no-repeat;
				transition: $default-transition;
				background-position: center center;
				box-shadow: 0px 3px 9px 1px rgba(0,0,0,0.1);
				>li {
					width: 25%;
					float: left;
					margin: 0px;
					padding: 15px;
					display: inline-block;
					.title-text {
						width: 100%;
						display: table;
						font-size: 18px;
						font-weight: 600;
						text-transform: uppercase;
					}
					>.menu-item-list {
						padding: 0px;
						>li {
							width: 100%;
							display: table;
							margin-bottom: 8px;
							&:last-child {margin-bottom: 0px;}
							>a {
								font-size: 16px;
								font-weight: 400;
								color: $body-color;
								text-transform: capitalize;
								&:hover {color: $navy-blue;}
							}
						}
					}
				}
			}

			&:hover {
				.mega-menu {
					opacity: 1;
					visibility: visible;
				}
			}
		}

		.add-new {
			width: 100%;
			display: block;
			font-size: 14px;
			margin-top: 15px;
			padding: 10px 15px;
			border-radius: 3px;
			text-align: center;
			background-color: $gray-color;
			i {margin-right: 5px;}
			&:hover {
				color: $white-color;
				background-color: $navy-blue;
			}
		}

	}
}
// slider-section - end
// ==================================================



// deals-section - start
// ==================================================
.deals-section {
	.tools-2-deals {
		padding: 15px;
		border: 2px solid $navy-blue;
		.section-title {margin-bottom: 15px;}

		.tools-2-deals-carousel {
			.item {
				.count-down {
					padding: 30px 0px;
					ul {
						li {
							margin-right: 8px;
							&:after {right: -6px;}
						}
					}
				}
				.tools-deal-item {
					width: 50%;
					float: left;
					display: inline-block;
					border-right: 1px solid $gray-deep-color;
					&:last-child {border-right: none;}
					.image-container {
						float: left;
						width: 100px;
						height: auto;
					}
					.item-content {
						padding: 10px;
						display: table;
						.item-title {
							font-size: 14px;
							margin-bottom: 5px;
						}
						.item-price {
							strong {font-size: 16px;}
						}
					}
				}
			}
		}

		.owl-theme {
			.owl-nav {
				top: -62px;
				right: 0px;
				position: absolute;
			}
		}

	}
}
// deals-section - end
// ==================================================



// category-section - start
// ==================================================
.category-section {
	.tools-2-category-post {

		.post-item {
			padding: 15px;
			overflow: hidden;
			position: relative;
			margin-bottom: 30px;
			background-color: $white-color;
			transition: $default-transition;
			.item-content {
				right: 0;
				top: 30px;
				z-index: 1;
				width: 45%;
				display: table;
				position: absolute;
				.item-title {
					font-size: 16px;
					text-transform: uppercase;
				}
				.view-all-btn {
					font-size: 14px;
					color: $body-color;
					&:hover {color: $navy-blue;}
				}
			}
			&:hover {
				box-shadow: 0px 0px 6px 1px rgba(0,0,0,0.1);
			}
		}

	}
}
// category-section - end
// ==================================================



// featured-section - start
// ==================================================
.home-tools-2 {
	.featured-section {
		.featured-container {
			.digital-featured-nav {
				li {
					&:hover {
						a {color: $navy-blue;}
					}
					a.active {
						color: $navy-blue;
					}
				}
			}
		}
	}
}
// featured-section - end
// ==================================================



// storm-product-section - start
// ==================================================
.home-tools-2 {
	.storm-product-section {
		.section-title {border-bottom-color: #c2c2c2;}
	}
}
.storm-product-section {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	.storm-tools-products {
		position: relative;

		.tools-products-nav {
			right: 0;
			top: -78px;
			z-index: 1;
			position: absolute;
			li {
				margin-right: 2px;
				&:last-child {margin-right: 0px;}
				a {
					padding: 10px 30px;
					border-top-left-radius: 3px;
					border-top-right-radius: 3px;
					border: 1px solid transparent;
					border-bottom-color: transparent;
					&:hover {color: $navy-blue;}
				}
				.active {
					color: $navy-blue;
					border-color: #c2c2c2;
					border-bottom-color: $gray-deep-color;
				}
			}
		}

		.tools-masonry {margin: 0px -15px;}
		.grid-sizer,
		.grid-item {
			width: 25%;
			float: left;
			position: relative;
			display: inline-block;
		}

		.grid-item {
			float: left;
			padding: 15px;
			overflow: hidden;
			.post-labels {
				top: 30px;
				left: 30px;
				position: absolute;
			}
			.image-container {
				height: 270px;
				text-align: center;
				background-color: $white-color;
			}
			.item-content {
				padding: 15px;
				text-align: center;
				background-color: $white-color;
				.item-title {
					max-width: 250px;
					margin: 0 auto 15px;
				}
			}
			&:hover {
				.image-container {
					.absolute-cartview {
						opacity: 1;
						transform: translate(-50%,-50%);
					}
				}
			}
		}
		.grid-item-big {
			width: 50%;
			.image-container {height: 695px;}
		}
		.grid-item-width {width: 50%;}

	}
}
// storm-product-section - end
// ==================================================



// footer-section - start
// ==================================================
.home-tools-2 {
	.footer-section {
		.tools-footer {

			.footer-top {
				.footer-contact {
					.social-links {
						ul {
							li {
								a {
									&:hover {
										background-color: $navy-blue;
									}
								}
							}
						}
					}
				}

				.useful-links {
					ul {
						li {
							a {
								&:hover {color: $navy-blue;}
							}
						}
					}
				}
			}

			.footer-middle {
				.footer-middle-content {
					.useful-links {
						ul {
							li {
								a {
									&:hover {color: $navy-blue;}
								}
							}
						}
					}
				}
			}

		}
	}
}
// footer-section - end
// ==================================================

/* home tools 2 - end
==================================================================================================== */