/* newsletter section - start
==================================================================================================== */
.newsletter-section {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	.newsletter-content {
		h2 {
			font-size: 24px;
			font-weight: 600;
			text-transform: uppercase;
		}
		p {
			font-size: 16px;
			font-weight: 500;
		}
		.form-item-btn {
			font-size: 14px;
			padding: 0px 15px;
		}
	}
}
/* newsletter section - end
==================================================================================================== */