// font load - start
$body-font: 'Poppins', sans-serif;
$heading-font: 'Poppins', sans-serif;
$dancing-script: 'Dancing Script', cursive;
// font load - end

// default colors - start
$past-color: #1ec7a6;
$body-color: #666666;
$heading-color: #222222;
// default colors - end

// style colors - start
$sky-blue: #02a8f3;
$pure-red: #ed2b2b;
$gplus-red: #f56c57;
$light-red: #ff0000;
$navy-blue: #085a9d;
$gold-color: #c09749;
$royal-blue: #3700ff;
$green-color: #4bba5b;
$olive-green: #9cb130;
$yellow-deep: #edb402;
$orange-color: #f28f00;
$yellow-color: #fed700;
$purple-color: #9d3bc6;
$maroon-color: #bf0b26;
// style colors - end

// colors - start
$gray-color: #f7f7f7;
$pure-black: #000000;
$white-color: #ffffff;
$gray-deep-color: #f0f0f0;
// colors - end

// colors - start
$overlay-black: rgba(0,0,0,0.8);
$overlay-white: rgba(255,255,255,0.8);
// colors - end

// transition - start
$default-transition: all .3s ease-in-out;
// transition - end